@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components {
	.flex {
		@apply items-center;
	}

	.rounded-xl {
		@apply rounded-[10px];
	}

	.badge-active {
		@apply after:w-[7px] after:h-[7px] after:absolute after:bg-secondary after:rounded-full after:-bottom-3/4 after:left-1/2 after:-translate-x-1/2 after:-translate-y-1/2 after:-z-10 dark:after:bg-primary
	}

	.transition-default {
		@apply transition-all duration-500 ease-in-out;
	}

	.default-btn {
		@apply flex cta-holder overflow-hidden drop-shadow-lg  bg-primary text-white rounded-2xl text-2xl hover:bg-secondary transition-default whitespace-nowrap cta-holder px-6 py-5 2xl:px-16 lg:py-6
	}

	.activeTab {
		@apply bg-primary text-white;
	}

	


	.outline-btn {
		@apply drop-shadow-lg px-16 py-6 border-[1px] border-solid border-disable text-headingColor font-semibold rounded-2xl text-2xl transition-default  hover:border-primary
	}



	.arrow-left {
		@apply flex bg-transparent border border-solid border-primary shadow-default rounded-secondary p-4 cursor-pointer dark:bg-white;
	}

	.arrow-right {
		@apply flex bg-primary shadow-default rounded-secondary p-4 cursor-pointer dark:bg-white;
	}

	.badge {
		@apply w-12 h-3 rounded-full absolute left-0 right-0 mx-auto -top-[0.4rem] bg-primary  before:absolute before:w-[1.2rem] before:h-[1.2rem] before:rounded-full before:bg-secondary before:left-0 before:right-0 before:-top-[2px] before:mx-auto
	}

	.bannerOverlay {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		border-radius: 10px 0 0 10px;
		-webkit-transform: skewX(-10deg);
		-ms-transform: skewX(-10deg);
		transform: skewX(-10deg);
		-webkit-transform-origin: left bottom;
		-ms-transform-origin: left bottom;
		transform-origin: left bottom;
		z-index: 1;

	}


	.bannerTel {
		-webkit-box-shadow: -13px 0 rgba(94, 186, 232, 0.20), -23px 0 rgba(94, 186, 232, 0.10);
		box-shadow: -13px 0 rgba(94, 186, 232, 0.20), -23px 0 rgba(94, 186, 232, 0.10);

		background: #5ebae8;
	}

	.bannerInsta {
		-webkit-box-shadow: -13px 0 rgba(254, 114, 103, 0.20), -23px 0 rgba(254, 114, 103, 0.10);
		box-shadow: -13px 0 rgba(254, 114, 103, 0.20), -23px 0 rgba(254, 114, 103, 0.10);
		background: #f76290;
		background: -o-linear-gradient(155deg, #f76290 0%, #fe7464 100%);
		background: linear-gradient(295deg, #f76290 0%, #fe7464 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f76290", endColorstr="#fe7464", GradientType=1);
	}



	section {
		@apply my-20;
	}

	.overlayimg {
		@apply before:absolute before:block before:w-full before:h-full before:bottom-0 before:left-0 before:right-0 before:z-[2] before:bg-holderImg dark:before:bg-holderImgdark
	}
}


@layer base {
	.swiperBlog>.swiper-wrapper>.swiper-slide:nth-child(2) {
		@apply translate-y-20;
	}

	input[type="number"]::-webkit-inner-spin-button,
	input[type="number"]::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}


	.swiperCompany {
		overflow: visible;


		.swiper-wrapper {
			max-height: 100%;
			height: 100%;
			display: flex;
			padding-block: 50px;
		}

		.swiper-slide {
			width: auto;
			flex-shrink: 0;
			display: flex;
			height: 100%;
			max-height: 100%;
			justify-content: center;
			padding-inline: 5px;

		}
	}

}

.swiper {
	width: 100%;
}

.header{
	transition: top 0.5s ease;

}
.fixedmenu {
	position: fixed;
	top: 0;
	width: 100%;
	transition: top 0.5s ease;
	animation: smoothScroll 1s forwards;
}



@keyframes smoothScroll {
	0% {
		transform: translateY(-142px);
	}

	100% {
		transform: translateY(0px);
	}
}


@font-face {
	font-family: dana;
	font-style: normal;
	font-weight: 10;
	font-display: swap;
	src: url('./assets/font/Dana-Hairline.woff2') format('woff2'),
		/* FF39+,Chrome36+, Opera24+*/
		url('./assets/font/Dana-Hairline.woff') format('woff');
	/* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
	font-family: dana;
	font-style: normal;
	font-weight: 100;
	font-display: swap;
	src: url('./assets/font/Dana-Thin.woff2') format('woff2'),
		/* FF39+,Chrome36+, Opera24+*/
		url('./assets/font/Dana-Thin.woff') format('woff');
	/* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
	font-family: dana;
	font-style: normal;
	font-weight: 200;
	font-display: swap;
	src: url('./assets/font/Dana-UltraLight.woff2') format('woff2'),
		/* FF39+,Chrome36+, Opera24+*/
		url('./assets/font/Dana-UltraLight.woff') format('woff');
	/* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
	font-family: dana;
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url('./assets/font/Dana-Light.woff2') format('woff2'),
		/* FF39+,Chrome36+, Opera24+*/
		url('./assets/font/Dana-Light.woff') format('woff');
	/* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
	font-family: dana;
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url('./assets/font/Dana-Medium.woff2') format('woff2'),
		/* FF39+,Chrome36+, Opera24+*/
		url('./assets/font/Dana-Medium.woff') format('woff');
	/* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
	font-family: dana;
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url('./assets/font/Dana-DemiBold.woff2') format('woff2'),
		/* FF39+,Chrome36+, Opera24+*/
		url('./assets/font/Dana-DemiBold.woff') format('woff');
	/* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
	font-family: dana;
	font-style: normal;
	font-weight: 800;
	font-display: swap;
	src: url('./assets/font/Dana-ExtraBold.woff2') format('woff2'),
		/* FF39+,Chrome36+, Opera24+*/
		url('./assets/font/Dana-ExtraBold.woff') format('woff');
	/* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
	font-family: dana;
	font-style: normal;
	font-weight: 900;
	font-display: swap;
	src: url('./assets/font/Dana-Black.woff2') format('woff2'),
		/* FF39+,Chrome36+, Opera24+*/
		url('./assets/font/Dana-Black.woff') format('woff');
	/* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
	font-family: dana;
	font-style: normal;
	font-weight: 930;
	font-display: swap;
	src: url('./assets/font/Dana-ExtraBlack.woff2') format('woff2'),
		/* FF39+,Chrome36+, Opera24+*/
		url('./assets/font/Dana-ExtraBlack.woff') format('woff');
	/* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
	font-family: dana;
	font-style: normal;
	font-weight: 960;
	font-display: swap;
	src: url('./assets/font/Dana-Heavy.woff2') format('woff2'),
		/* FF39+,Chrome36+, Opera24+*/
		url('./assets/font/Dana-Heavy.woff') format('woff');
	/* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
	font-family: dana;
	font-style: normal;
	font-weight: bold;
	font-display: swap;
	src: url('./assets/font/Dana-ExtraBold.woff2') format('woff2'),
		/* FF39+,Chrome36+, Opera24+*/
		url('./assets/font/Dana-ExtraBold.woff') format('woff');
	/* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
	font-family: dana;
	font-style: normal;
	font-weight: normal;
	font-display: swap;
	src: url('./assets/font/Dana-Regular.woff2') format('woff2'),
		/* FF39+,Chrome36+, Opera24+*/
		url('./assets/font/Dana-Regular.woff') format('woff');
	/* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}


@font-face {
	font-family: dana;
	font-style: normal;
	font-weight: 990;
	font-display: optional;
	src: url('./assets/font/Dana-fat.woff2') format('woff2'),
		/* FF39+,Chrome36+, Opera24+*/
		url('./assets/font/Dana-fat.woff') format('woff');
	/* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}


@font-face {
	font-family: pinards1fan;
	font-style: normal;
	font-weight: normal;
	font-display: swap;
	src: url('./assets/font/woff2/Pinar-DS1-FD.woff2') format('woff2'),
		/* FF39+,Chrome36+, Opera24+*/
		url('./assets/font/woff/Pinar-DS1-FD.woff') format('woff'),
		/* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		url('./assets/font/ttf/Pinar-DS1-FD.ttf') format('truetype');
}


*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}

#root {
	height: 100%;
	width: 100%;
	
}

html {
	font-size: 10px;
	scroll-behavior: smooth;
	-webkit-text-size-adjust: 100%;
	height: -webkit-fill-available;
	overflow-x: hidden;


	@media (max-width: 567px) {
		font-size: 57.2%;
	}
}



body {

	font-family: dana, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	background-color: #fff;
	font-size: 1rem;
	position: relative;
	line-height: 1.5;
	text-rendering: optimizeLegibility;
	font-feature-settings: "ss02";
	-webkit-font-feature-settings: "ss02";
	-webkit-font-smoothing: antialiased;
	-moz-font-feature-settings: "ss02";
	-moz-osx-font-smoothing: grayscale;
	height: -webkit-fill-available;
	height: 100vh;
	color: #3F3F3F;
	// cursor: none !important;
}


article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
	display: block;
}


::selection {
	background-color: #FFEFDE;
}


.ss03 {
	-moz-font-feature-settings: "ss03";
	-webkit-font-feature-settings: "ss03";
	font-feature-settings: "ss03";
}



button,
input,
textarea {
	border: none;
	outline: none;
}


input:focus,
textarea:focus {
	border: none;
	outline: none;
}

*:focus-visible {

	outline: none;
}


h1 {
	font-size: 2.2rem;
}

h2 {
	font-size: 1.6rem;
}

h3 {
	font-size: 1.3rem;
}

h4 {
	font-size: 1.0rem;
}

h5 {
	font-size: 0.7rem;
}

h6 {
	font-size: 0.4rem;
}


img {
	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
	border-style: none;
	object-fit: cover;

}




input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	-webkit-appearance: none;
	appearance: none;
}



::-webkit-scrollbar {

	display: none;

}

a {

	-webkit-user-drag: none;
	-moz-user-drag: none;
}

::-webkit-scrollbar-thumb {

	border-radius: 10px;
}

::-webkit-scrollbar-track {
	background: none;
	border-radius: 10px;

}

.form-control:focus {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.bglinear {
	background: linear-gradient(to left top, rgba(241, 137, 30, 0.3), rgba(241, 137, 30, 0));
	background: -webkit-linear-gradient(to left top, rgba(241, 137, 30, 0.3), rgba(241, 137, 30, 0));
}

.bglinearAddvertise {
	background: linear-gradient(to left top, rgba(98, 30, 241, 1), rgba(241, 137, 30, 1));
	background: -webkit-linear-gradient(to left top, rgba(98, 30, 241, 1), rgba(241, 137, 30, 1));
}

.sunShape {
	background: url(./src/assets/img/abstract2.png) right 0 top 30px no-repeat
}


.layoutImg {
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(45%, rgba(255, 255, 255, 0)), to(#fff));
	background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0) 45%, #fff 100%);
	background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 45%, #fff 100%);

}

// faq page = background for aside banner
.bannerFaq {
	background-color: #0C68F4;
	background-image: url('./assets/img/pptn.png');
	background-position: center center;
	background-repeat: repeat;
	background-size: contain;
}

// #main {
// 	&::before {
// 		content: '';
// 		top: 0;
// 		right: 0;
// 		width: 100%;
// 		height: 100%;
// 		z-index: -10;
// 		position: absolute;
// 		-webkit-mask-size: cover;
// 		mask-size: cover;
// 		-webkit-mask-repeat: no-repeat;
// 		mask-repeat: no-repeat;
// 		mask-image: url('../src/assets/img/footer.png');
// 		-webkit-mask-image: url('../src/assets/img/footer.png');
// 		background: url('../src/assets/img/img.jpg');
// 		background-repeat: no-repeat;
// 		background-size: cover;

// 	}

// 	&::after {
// 		content: '';
// 		top: 0;
// 		right: 0;
// 		width: 100%;
// 		height: 100%;
// 		z-index: -10;
// 		position: absolute;
// 		-webkit-mask-size: cover;
// 		mask-size: cover;
// 		-webkit-mask-repeat: no-repeat;
// 		mask-repeat: no-repeat;
// 		mask-image: url('../src/assets/img/footer.png');
// 		-webkit-mask-image: url('../src/assets/img/footer.png');
// 		background: url('../src/assets/img/img.jpg');
// 		background-repeat: no-repeat;
// 		background-size: cover;
// 		background: #2e2e2e !important;
// 		z-index: -5;
// 		opacity: 0.9;



// 	}

// 	@media screen and (max-width:992px) {

// 		&::after,
// 		&::before {
// 			mask-image: none;
// 		}

// 	}
// }



.hugeItem {
	&:hover {

		color: red;
	}
}



#follower {
	position: absolute;
	left: 50%;
	top: 50%;

	#circle1 {
		position: absolute;
		left: -50%;
		border: 1px solid #f1891e;
		border-radius: 50%;
		transform: translate(-15px, -16px);
		width: 30px;
		height: 30px;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		z-index: 10000000;
		opacity: .5;
		-webkit-transition: all .08s ease-out;
		-o-transition: all .08s ease-out;
		transition: all .08s ease-out;
		pointer-events: none
	}

	;

	#circle2 {
		background: #f1891e;
		border-radius: 50%;
		position: absolute;
		height: 6px;
		width: 6px;
		left: -3px;
		top: -3px
	}

	;






}

//  animation for all purple button in all Pages
.cta-holder {
	&::after {
		content: '';
		height: 120%;
		top: -10%;
		left: -100%;
		background-color: rgba(255, 255, 255, .5);
		width: 40px;
		transform: skew(30deg);
		transition: all ease .8s;
		visibility: hidden;
		opacity: 0;
		position: absolute;
		// box-shadow: 2px 2px 6px 0 rgb(0 0 0 / 23%);
		border-radius: 0;
	}

	&:hover {
		&::after {
			visibility: visible;
			opacity: 1;
			left: 110%;
		}
	}
}


//  animation mic icon - rotateX
#listen:hover {
	.mic {
		transform: rotateY(360deg)
	}
}




.bg-darkTowhite {
	background: rgb(255, 255, 255);
	background: -moz-linear-gradient(184deg, rgba(255, 255, 255, 0.33657212885154064) 0%, rgba(42, 42, 42, 0.7931547619047619) 58%);
	background: -webkit-linear-gradient(184deg, rgba(255, 255, 255, 0.33657212885154064) 0%, rgba(42, 42, 42, 0.7931547619047619) 58%);
	background: linear-gradient(184deg, rgba(255, 255, 255, 0.33657212885154064) 0%, rgba(42, 42, 42, 0.7931547619047619) 58%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#2a2a2a", GradientType=1);
}


//  media screen for swiper Js library in homePage
@media screen and (min-width:1024px) {
	.swiperBlog {
		.swiper-wrapper {

			transform: translate3d(-200px, 0px, 0px) !important;


		}
	}

	.swiperThree {

		.swiper-wrapper {

			.swiper-slide:nth-child(even) {
				transform: translateY(50px);
			}


		}

	}
}


//  style for curser pointer

.circles li {
	position: absolute;
	display: block;
	list-style: none;
	animation: circles 70s linear infinite;
	bottom: 900px;

}

.circles li:nth-child(1) {
	left: 5%;
	animation-delay: 0s;
}

.circles li:nth-child(2) {
	left: 20%;
	animation-delay: 2s;
	animation-duration: 15s;
}

.circles li:nth-child(3) {
	left: 80%;
	animation-delay: 0s;
	animation-duration: 25s;

}

.circles li:nth-child(4) {
	left: 40%;
	animation-delay: 4s;
	animation-duration: 34s;
}

.circles li:nth-child(5) {
	left: 45%;
	animation-delay: 5s;
	animation-duration: 38s;

}

.circles li:nth-child(6) {
	left: 50%;
	animation-delay: 3s;
	animation-duration: 42s;

}

.circles li:nth-child(7) {
	left: 75%;
	animation-delay: 2s;
	animation-duration: 42s;

}

.circles li:nth-child(8) {
	left: 95%;
	animation-delay: 3s;
	animation-duration: 30s;

}

.circles li:nth-child(9) {
	left: 60%;
	animation-delay: 3s;
	animation-duration: 20s;

}


@keyframes circles {

	0% {
		transform: translateY(0) rotate(0deg);
		opacity: 0.4;
		border-radius: 0;
	}

	100% {
		transform: translateY(-1000px) rotate(720deg);
		opacity: 0;
		border-radius: 50%;
	}
}

//  animation for heart icon for like item
.content {
	.heart {
		width: 35px;
		height: 35px;
		background: url('../src/assets/img/heart.png') no-repeat;
		background-position: left;
		background-size: 2900%;

		&.heart-active {
			background-position: right;
			animation: animate .8s steps(28) 1;
		}

		@keyframes animate {
			0% {
				background-position: left;
			}

			100% {
				background-position: right;
			}
		}
	}
}


// pagination in brands in footer 
.swiperFooter {
	.swiper-pagination {
		bottom: 10px;


		.swiper-pagination-bullet {
			transition: 0.3s all ease-in;
			background-color: #f1891e;

			&:hover {
				padding-inline: 5px;
				border-radius: 5px;

			}

			&-active {
				padding-inline: 10px;
				border-radius: 5px;
				background-color: #f1891e;
			}
		}
	}
}


.swiperCustomer {
	.swiper-pagination {
		bottom: 0px;


		.swiper-pagination-bullet {
			transition: 0.3s all ease-in;
			background-color: #818181;

			&-active {
				// padding-inline: 10px;
				border-radius: 5px;
				background-color: #f1891e;
			}
		}
	}


	.swiper-slide-active figure{ 
		background-color: white;
		box-shadow: 0px 8px 50px 0px rgba(0, 0, 0, 0.1);
		transition: all 0.5s ease-in-out;
		position: relative;
			&:after{
				position: absolute;
				
				top: -47%;
				transform: translateY(-50%);
				left: 0;
				right: 0;
				content: "";
				background: url('./assets/img/starAutomatic.svg');
				background-position: center;
				background-repeat: no-repeat;
				width: 100%;
				height: 100%;
				z-index: -1;
				 -webkit-animation: loading 20s linear infinite;
    				-moz-animation: loading 20s linear infinite;
				transition: 0.5s all ease-in;

			}




	}

	
}

@for $i from -7 through 20 {
	#Line_#{$i} {
		animation: pulse 1s infinite;
		animation-delay: $i * .15s;
	}
}

@keyframes pulse {
	0% {
		transform: scaleY(1);
		transform-origin: 50% 50%;
	}

	50% {
		transform: scaleY(.7);
		transform-origin: 50% 50%;
	}

	100% {
		transform: scaleY(1);
		transform-origin: 50% 50%;
	}
}

@keyframes loading {
	from {
	    -webkit-transform: rotate(0deg);
	}
	to {
	    -webkit-transform: rotate(360deg);
	}
 }
 @-moz-keyframes loading {
	from {
	    -moz-transform: rotate(0deg);
	}
	to {
	    -moz-transform: rotate(360deg);
	}
 }

.progress-shim {
	position: relative;
	overflow: hidden;
}

.shim-green::after {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	transform: translateX(-100%);
	background-image: linear-gradient(90deg,
			rgba(233, 233, 233, 1) 0,
			rgba(233, 233, 233, 0.9) 50%,
			rgba(233, 233, 233, 0.8) 100%);
	animation: shimmer 2s ease-out infinite;
	content: "";
}

@keyframes shimmer {
	100% {
		transform: translateX(0%);
		opacity: 0;
	}
}




// ====================>>>>>>>  style toastify
.Toastify__toast-body {
	font-family: dana, sans-serif;
	font-size: 15px;
}





.progress {
	background: #FFEFDE;
	border-radius: 8px;
	height: 7px;
	width: 100%;
	direction: ltr;
	outline: none;
	transition: background 1000ms ease-in;
	-webkit-appearance: none;


}

.progress::-webkit-slider-thumb {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 5px solid #F1891E;
	-webkit-appearance: none;
	cursor: pointer;
	background: #FFEFDE;

}



.custom-shape-divider-top-1676385917 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
	transform: rotate(180deg);
}

.custom-shape-divider-top-1676385917 svg {
	position: relative;
	display: block;
	width: calc(100% + 1.3px);
	height: 130px;


	@media screen and (max-width: 768px) {
		height: 70px;

	}
}

.custom-shape-divider-top-1676385917 .shape-fill {
	fill: #FFFFFF;
}



.mask {
	mask-image: url('./assets/img/maskAbout.svg');
     mask-repeat: no-repeat;
	mask-size: 620px;
	mask-position: center center;

	@media screen and (max-width: 1024px) {
		mask-size: 365px;
	
	    }
	@media screen and (max-width: 992px) {
		mask-size: 380px;
	
	    }
	@media screen and (max-width: 768px) {
		mask-size: 425px;
	
	    }
	@media screen and (max-width: 468px) {
		mask-size: 300px;
	
	    }
	@media screen and (max-width: 468px) {
		mask-size: 250px;
	
	    }
}

lord-icon div {
	color: red;
}




.cbx {
	position: relative;
	top: 1px;
	width: 18px;
	height: 18px;
	background:  #e7e7e7;
	border-radius: 5px;
	vertical-align: middle;
	transition: background 0.1s ease;
	cursor: pointer;
	display: block;
    }
    

	 
    .cbx:after {
	content: '';
	position: absolute;
	top: 2px;
	left: 6px;
	width: 5px;
	height: 10px;
	opacity: 0;
	transform: rotate(45deg) scale(0);

	border-right: 2px solid #fff;
	border-bottom: 2px solid #fff;
	transition: all 0.3s ease;
	transition-delay: 0.15s;
    }
    
    .lbl {
	margin-left: 5px;
	vertical-align: middle;
	cursor: pointer;
    }
    
    .cbxInput:checked ~ .cbx {
	border-color: transparent;
	background: #6871f1;
	animation: jelly 0.6s ease;
    }
    
   .cbxInput:checked ~ .cbx:after {
	opacity: 1;
	transform: rotate(45deg) scale(1);
    }
    
    .cntr {
	position: relative;
    }
    
    @keyframes jelly {
	from {
	 transform: scale(1, 1);
	}
    
	30% {
	 transform: scale(1.25, 0.75);
	}
    
	40% {
	 transform: scale(0.75, 1.25);
	}
    
	50% {
	 transform: scale(1.15, 0.85);
	}
    
	65% {
	 transform: scale(0.95, 1.05);
	}
    
	75% {
	 transform: scale(1.05, 0.95);
	}
    
	to {
	 transform: scale(1, 1);
	}
    }
    
    .hidden-xs-up {
	display: none!important;
    }
    